.how_to_get_started h3 {
  text-align: center;
}
.get_started_list ul {
  text-align: center;
  border-bottom: 1px solid darkgrey;
  padding: 15px;
}
.get_started_list li {
  list-style: none;
  display: inline-block;
  align-items: center;
}
.get_started_list li a {
  padding: 17px 15px;
  cursor: pointer;
  color: #00f;
  text-decoration: none;
  font-size: 12px;
}
.get_started_list li a:hover {
  text-decoration: none;
  border: 1px solid lightgray;
  border-bottom: 2px solid #00f;
  padding: 15px 10px;
}
.get_started_list li a:focus {
  border-bottom: 2px solid #00f;
}
.third_part {
  padding: 10px;
}
.third_part h4 {
  padding-left: 130px;
  margin-top: 0;
}
.images {
  align-items: center;
  padding-left: 90px;
}
